In [11]:
import pandas as pd
from datetime import datetime

In [12]:
df = pd.read_csv('/home/katharine/Downloads/datasets/mvt.csv')

In [13]:
df.head()

             Date   Latitude  Longitude
0  12/31/12 23:15  41.756284 -87.621645
1  12/31/12 22:00  41.898788 -87.661303
2  12/31/12 22:00  41.969186 -87.767670
3  12/31/12 22:00  41.769329 -87.657726
4  12/31/12 21:30  41.837568 -87.621761

In [14]:
df['DateTime'] = df['Date'].map(lambda d: datetime.strptime(d, '%m/%d/%y %H:%M'))

In [17]:
df['Hour'] = df['DateTime'].map(lambda d: d.hour)

In [23]:
df['DayOfWeek'] = df['DateTime'].map(lambda d: d.weekday())

In [25]:
df['Date'] = df['DateTime'].map(lambda d: d.date())

In [26]:
df.dtypes

Date                 object
Latitude            float64
Longitude           float64
DateTime     datetime64[ns]
Hour                  int64
DayOfWeek             int64
dtype: object

In [27]:
df.head()

         Date   Latitude  Longitude            DateTime  Hour  DayOfWeek
0  2012-12-31  41.756284 -87.621645 2012-12-31 23:15:00    23          0
1  2012-12-31  41.898788 -87.661303 2012-12-31 22:00:00    22          0
2  2012-12-31  41.969186 -87.767670 2012-12-31 22:00:00    22          0
3  2012-12-31  41.769329 -87.657726 2012-12-31 22:00:00    22          0
4  2012-12-31  41.837568 -87.621761 2012-12-31 21:30:00    21          0

In [29]:
df.to_csv('/home/katharine/Downloads/datasets/mvt_cleaned.csv', index=False)